{{ package_name|capitalize }} |Version| |Build| |Coverage| |Health|
===================================================================

|Compatibility| |Implementations| |Format| |Downloads|

{{ short_description }}

.. code:: python

    # TODO: add super short usage


Installation:

.. code:: console

    $ pip install {{ package_name }}

.. TODO: longer description


Example
-------

.. code:: python

    # TODO: add example


Changelog
---------

**{{ package_version }}**

- Initial release.


.. |Build| image:: https://travis-ci.org/{{ github_user }}/{{ repo_name }}.svg?branch=master
   :target: https://travis-ci.org/{{ github_user }}/{{ repo_name }}
.. |Coverage| image:: https://img.shields.io/coveralls/{{ github_user }}/{{ repo_name }}.svg
   :target: https://coveralls.io/r/{{ github_user }}/{{ repo_name }}
.. |Health| image:: https://codeclimate.com/github/{{ github_user }}/{{ repo_name }}/badges/gpa.svg
   :target: https://codeclimate.com/github/{{ github_user }}/{{ repo_name }}
.. |Version| image:: https://img.shields.io/pypi/v/{{ package_name }}.svg
   :target: https://pypi.python.org/pypi/{{ package_name }}
.. |Downloads| image:: https://img.shields.io/pypi/dm/{{ package_name }}.svg
   :target: https://pypi.python.org/pypi/{{ package_name }}
.. |Compatibility| image:: https://img.shields.io/pypi/pyversions/{{ package_name }}.svg
   :target: https://pypi.python.org/pypi/{{ package_name }}
.. |Implementations| image:: https://img.shields.io/pypi/implementation/{{ package_name }}.svg
   :target: https://pypi.python.org/pypi/{{ package_name }}
.. |Format| image:: https://img.shields.io/pypi/format/{{ package_name }}.svg
   :target: https://pypi.python.org/pypi/{{ package_name }}
